body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background: peachpuff;
}

header {
    background: rgb(0, 0, 57);
    flex: 0 80px;
}

main {
    background: peachpuff;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background: #fa8072;
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid #5c6176 thin;
}

menu .nav-item {
    font-size: 36pt;
    padding: 0 0.3em;
}

footer a {
    text-decoration: underline;
    float: right;
}

#login {
    align-items: center;
    border-radius: 10%;
    position: absolute;
    width: 3in;
    height: 3in;
    background: #fa8072;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}