body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background: rgb(183, 183, 255);
    text-align: center;
}

header {
    background: rgb(9, 9, 80);
    flex: 0 80px;
}

main {
    background: rgb(183, 183, 255);
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background: rgb(9, 9, 80);
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(183, 183, 255);
}

menu .nav-item {
    font-size: 17pt;
    padding: 0 0.6em;
}

footer a {
    text-decoration: underline;
    float: right;
}

main > h2, h3, h1 {
    text-shadow: 2px 2px 2px rgb(9, 9, 80);
}


#messaging {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

#matchPackIndicator {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

#changePass {
    background: rgb(183, 183, 255);
}

#game {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#game .card {
    height: 100px;
    width: 100px;
    margin: 2.5px;
    background: rgb(9, 9, 80);
}

#start {
    position: absolute;
    bottom: 40px;
}

.users {
    flex: 1;
    width: 100%;
    padding: 0.5em;
}

.messages > li{
    color:rgb(9, 9, 80);
    list-style: none;
    background: white;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: .15em;
    margin: .1em;
   
}
